/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 * {
    padding: 0;
    margin: 0 ;
}


body {
    font-family: 'Mv Boli', 'Yu Gothic UI', sans-serif;
    
    background-size: cover;
    color: #333333;
    height: 100%;
}

header {
    height: 100px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

header a {
    color: #333333; 
    text-decoration: none; 
    text-align: right;
}

header h1 {
    color: 333333;
    margin-left: 20px;
    text-align: right;
}
/* ログインとかホームのheader */
.header-list {
    display: flex;
    align-items: center;
    text-align: right;
    margin-left: auto;
}

header li {
    list-style: none;
    margin-right: 40px;
    text-align: right;
}
header ul {
    display: flex;
    text-align: right;
}


footer {
    color: 323e63;
    height: 30px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: flex-end;
}

.unrelease {
    display: none;
}

.tab {
    display: flex;
    flex-wrap: wrap;
}

.tab li a {
    display: block;
    background:rgba(247, 204, 230, 0.524);
    margin:0 2px;
    padding:10px 20px;
}

.tab li.active a {
    background:rgba(247, 204, 230, 0.524);
}

.area {
    display: none;
    opacity: 0;
    background: rgba(247, 204, 230, 0.524);
    padding:50px 20px;
}

.area.is-active {
    display: block;
    animation-name: displayAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime {

    from {
    opacity: 0;
    }

    to {
    opacity: 1;
    }

}

ul {
    list-style:none;
}

.wrapper {
    width:100%;
    max-width: 960px;
    margin:30px auto;
    background:rgba(247, 204, 230, 0.524);
}

.area h2 {
    font-size:1.3rem;
    margin:0 0 20px 10px;
}

.area li {
    padding: 10px; 
    border-bottom: 1px solid #ddd;
}
