// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.calendar-title{
    color: #323e63 ;
    font-size: large;
    font-weight: bold;
}

.wday-0{
    color: red;
}

.wday-6{
    color: blue;
}

th Sun{
    color: red;
}