.post-container {
    margin: 50px auto;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    border: 3px solid #323e63;
    border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
    font-weight: bold;
}

input[type="text"] {
    width: 70%;
    height: 40px;
}
input[type="submit"] {
    width: 100px;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
}